aside.main-sidebar.sidebar-light-primary
    a.brand-link.bg-dark.text-center(href='/')
        span.brand-text.font-weight-light Panel administracyjny
    .sidebar
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                li.nav-item
                    a.nav-link(href='/' class=(indexPage ? 'active' : ''))
                        i.fas.flaticonie.flaticon-home.align-middle
                        p.ml-2 Strona główna
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                li.nav-header WIZUALIZACJA DANYCH
                    li.nav-item
                        a.nav-link(href='/route' class=(routePage ? 'active' : ''))
                            i.fas.fa-route.flaticonie.align-middle
                            p.ml-2 Trasa stacji pomiarowej
                    li.nav-item
                        a.nav-link(href='/map' class=(mapPage ? 'active' : ''))
                            i.fas.fa-map-marked-alt.flaticonie.align-middle
                            p.ml-2 Mapa zanieczyszczeń
        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                li.nav-header ZARZĄDZANIE
                    li.nav-item
                        a.nav-link(href='/stations' class=(stationsPage ? 'active' : ''))
                            i.flaticon.flaticon-drone.align-middle
                            p.ml-2 Stacje pomiarowe
                    li.nav-item
                        a.nav-link(href='/measurements' class=(measurementsPage ? 'active' : ''))
                            i.flaticon.flaticon-data.align-middle
                            p.ml-2 Pomiary
                    li.nav-item
                        a.nav-link(href='/users' class=(usersPage ? 'active' : ''))
                            i.flaticon.flaticon-user.align-middle
                            p.ml-2 Użytkownicy

        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                li.nav-header OPERACJE
                    li.nav-item
                        a.nav-link(href='/download' class=(downloadPage ? 'active' : ''))
                            i.fas.fa-file-download.flaticonie.align-middle
                            p.ml-2 Pobieranie danych
                    li.nav-item
                        a.nav-link(href='/upload' class=(uploadPage ? 'active' : ''))
                            i.fas.fa-sd-card.flaticonie.align-middle
                            p.ml-2 Import z karty SD