script(src='/js/flatpickr.js')
script(src='/js/pl.js')
script(src='/js/jquery.bootstrap-duallistbox.min.js')
script(src='/js/leaflet.js')
script(src='/js/leaflet-locationpicker.min.js')
script(src='/js/jquery.serializejson.js')

script.
  const dateStartInput = $('#date-start');
  const dateEndInput = $('#date-end');
  const dateMultipleInput = $('#date-multiple');

  $('.duallistbox').bootstrapDualListbox()

  const leafletOptions = {
    alwaysOpen: true,
    position: 'bottomleft',
    locationDigits: 6,
    height: 250,
    width: 250,
    map: {
      zoom: 13,
      zoomControl: false
    }
  };

  const locStart = $('#locStart');
  const locEnd = $('#locEnd');
  const locStartBtn = $('#locStartDefault');
  const locEndBtn = $('#locEndDefault');

  locStartBtn.on('click', () => {
    locStartBtn.remove();
    locStart.val('52.40598,16.928344');
    locStart.leafletLocationPicker({
      map: { center: [52.40598, 16.928344] },
      ...leafletOptions
    });
  });

  locEndBtn.on('click', () => {
    locEndBtn.remove();
    locEnd.val('52.410692,16.938187');
    locEnd.leafletLocationPicker({
      map: { center: [52.410692, 16.938187] },
      ...leafletOptions
    });
  });

  const flatpickrOptions = {
    locale: 'pl',
    enableTime: true,
    dateFormat: 'd.m.Y H:m'
  };

  flatpickr(dateStartInput, flatpickrOptions);
  flatpickr(dateEndInput, flatpickrOptions);
  flatpickr(dateMultipleInput, {
    mode: 'multiple',
    locale: 'pl',
    enableTime: false,
    dateFormat: 'd.m.Y'
  });

  function clearDateMultipleInput() {
    dateMultipleInput.val('');
  }

  dateStartInput.on('input', clearDateMultipleInput);
  dateEndInput.on('input', clearDateMultipleInput);
  dateMultipleInput.on('input', () => {
    dateStartInput.val('');
    dateEndInput.val('');
  });

  const deleteFiltersBtn = $('#delete-filters');
  deleteFiltersBtn.on('click', () => {
    window.location.href='/measurements';
  });

  const collapseBtn = $('button[title="Collapse"]');
  const span = $('button[title="Collapse"] span');

  collapseBtn.on('click', () => {
    if (span.text() === ' Rozwiń') {
      span.text(' Zwiń');
    }
    else if (span.text() === ' Zwiń') {
      span.text(' Rozwiń');
    }
  });

  // const data = JSON.parse('!{JSON.stringify(measurements)}');
  // console.log(data);