.row
    .col-md-12
        .card.collapsed-card
            .card-header.border-0
                h3.card-title
                    i.fas.fa-edit.mr-1
                    | Filtrowanie danych (na poziomie bazy danych)
                .card-tools
                    button.btn.btn-outline-danger.btn-sm.mr-3#delete-filters
                        i.far.fa-trash-alt
                        |  Usuń filtry
                    button.btn.btn-outline-primary.btn-sm(type='button' data-card-widget='collapse' title='Collapse')
                        i.fas.fa-plus
                        span  Rozwiń
            .card-body
                form(autocomplete='off' method='post' action='/measurements')
                    .row
                        .form-group
                            label Data od:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.far.fa-calendar.alt
                                input#date-start(type='datetime' name='dateStart')
                        .form-group.ml-3
                            label Data do:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.far.fa-calendar.alt
                                input#date-end(type='datetime' name='dateEnd')
                    .row
                        .form-group.col
                            label Konkretne daty:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.far.fa-calendar.alt
                                input#date-multiple(type='datetime' name='dateMultiple', style='width: 90%')
                    .row.mt-4
                        .form-group
                            label Wysokość bezwględna:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minAltitude(type='number' name='minAltitude' step=0.01)
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxAltitude(type='number' name='maxAltitude' step=0.01)
                        .form-group.ml-sm-3
                            label Napięcie baterii [dV]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minBatteryVolage(type='number' name='minBatteryVolage')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxBatteryVolage(type='number' name='maxBatteryVolage')
                        .form-group.ml-sm-3
                            label Pompa włączona:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.fas.fa-power-off
                                select(name='pump')
                                    option(value='') -
                                    option(value='true') TAK
                                    option(value='false') NIE
                        .form-group.ml-sm-3
                            label PM1 [µg/m3]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minPM1(type='number' name='minPM1')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxPM1(type='number' name='maxPM1')
                        .form-group.ml-sm-3
                            label PM2.5 [µg/m3]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minPM25(type='number' name='minPM25')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxPM25(type='number' name='maxPM25')
                        .form-group.ml-sm-3
                            label PM10 [µg/m3]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minPM10(type='number' name='minPM10')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxPM10(type='number' name='maxPM10')
                        .form-group.ml-sm-3
                            label L. dz. cz. > 0,3 µm/0,1 l:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minQuantity03(type='number' name='minQuantity03')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxQuantity03(type='number' name='maxQuantity03')
                        .form-group.ml-sm-3
                            label L. dz. cz. > 0,5 µm/0,1 l:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minQuantity05(type='number' name='minQuantity05')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxQuantity05(type='number' name='maxQuantity05')
                        .form-group.ml-sm-3
                            label L. dz. cz. > 1 µm/0,1 l:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minQuantity1(type='number' name='minQuantity1')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxQuantity1(type='number' name='maxQuantity1')
                        .form-group.ml-sm-3
                            label L. dz. cz. > 2,5 µm/0,1 l:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minQuantity25(type='number' name='minQuantity25')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxQuantity25(type='number' name='maxQuantity25')
                        .form-group.ml-sm-3
                            label L. dz. cz. > 5 µm/0,1 l:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minQuantity5(type='number' name='minQuantity5')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxQuantity5(type='number' name='maxQuantity5')
                        .form-group.ml-sm-3
                            label L. dz. cz. > 10 µm/0,1 l:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minQuantity10(type='number' name='minQuantity10')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxQuantity10(type='number' name='maxQuantity10')
                        .form-group.ml-sm-3
                            label HCHO [mg/m3]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minHCHO(type='number' name='minHCHO')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxHCHO(type='number' name='maxHCHO')
                        .form-group.ml-sm-3
                            label Temperatura [d℃]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minTemperature(type='number' name='minTemperature')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxTemperature(type='number' name='maxTemperature')
                        .form-group.ml-sm-3
                            label Wilgotność [‰]:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') min
                                input#minHumidity(type='number' name='minHumidity')
                            .input-group
                                .input-group-prepend
                                    span.input-group-text(style='width: 55px') max
                                input#maxHumidity(type='number' name='maxHumidity')
                    .row
                        .form-group.col
                            label Serie pomiarowe:
                            .input-group
                                .input-group-prepend
                                    span.input-group-text
                                        i.fas.fa-signature
                                input#series(type='text' name='series' placeholder='Rozdziel wartości przecinkiem, przykład: 1, 2', style='width: 90%;')
                    .row.align-items-start.mt-4(style='height: 350px')
                        .form-group.mr-5
                            label Lokalizacja od:
                            br
                            button.btn.btn-sm.btn-outline-primary#locStartDefault(type='button')
                                | Załaduj domyślną
                            .input-group.mt-1
                                input#locStart.mt-4(type='text' name='locStart')
                        .form-group.ml-5
                            label Lokalizacja do:
                            br
                            button.btn.btn-sm.btn-outline-primary#locEndDefault(type='button')
                                | Załaduj domyślną
                            .input-group.mt-1
                                input#locEnd.mt-4(type='text' name='locEnd')
                    .row.mt-4
                        .form-group
                            label Stacje pomiarowe:
                            .input-group
                                select.duallistbox(multiple='multiple', name='stationId[]')
                                  each station in stations
                                      option(value=station.id)= station.uniqueId
                                          if station.uniqueName
                                              | (#{station.uniqueName})
                    .row
                        .form-group
                            button.btn.btn-lg.btn-primary(type='submit') Zastosuj filtr