.row
    .col-md-12
        .card
            .card-header.border-0
                h3.card-title
                    i.fas.fa-edit.mr-1
                    | Dane pomiarowe
            .card-body
                h5.mb-3
                    | Tabela pozwala między innymi na filtrowanie danych, eksportowanie do pliku, a także wybieranie poszczególnych wierszy do trwałego usunięcia. W celu zaznaczenia wielu wierszy, należy przytrzymać klawisz
                    kbd.bg-light.ml-1 Ctrl
                    |  (Windows, Linux) lub
                    kbd.bg-light.ml-1 Command
                    |  (macOS).
                #table-wrapper
                    table.table.table-bordered.table-striped.table-head-fixed.text-center.text-nowrap