extends ../../base

append head-files
    include includes/css

prepend config
  - var usersPage = true;

append content
    section.content
        .container-fluid
            include includes/table


append body-files
    include includes/table-js