link(rel='stylesheet' href='/css/flatpickr.min.css')
link(rel='stylesheet' href='/css/bootstrap-duallistbox.min.css')
link(rel='stylesheet' href='/css/leaflet.css')
link(rel='stylesheet' href='/css/leaflet-locationpicker.css')
link(rel='stylesheet' href='/css/dataTables.bootstrap4.min.css')
link(rel='stylesheet' href='/css/fixedColumns.bootstrap4.min.css')
link(rel='stylesheet' href='/css/responsive.bootstrap4.min.css')
link(rel='stylesheet' href='/css/searchBuilder.bootstrap4.min.css')
link(rel='stylesheet' href='/css/searchBuilder.dataTables.min.css')
