doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title #{title} | Panel administracyjny

    block head-files
        include includes/head-files

body
    block active-item

    block config
        .wrapper
            include includes/nav
            include includes/aside
            .content-wrapper
                include includes/content-header
                block content

    block body-files
        include includes/footer
        include includes/body-files