extends ../../base

prepend config
  - var airnowPage = true;

append content
    section.content
        .container-fluid
            .row
                .col-md-12
                    .card.card-default
                        .card-header
                            h3.card-title Wybierz zakres dat i lokalizacji