// jQuery
script(src='/js/jquery.min.js')

// jQuery UI 1.11.4
script(src='/js/jquery-ui.min.js')

// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)

// Bootstrap 4
script(src='/js/bootstrap.bundle.min.js')

// Font Awesome
script(src='/js/font-awesome.js')

// ChartJS
script(src='/js/Chart.min.js')

// overlayScrollbars
script(src='/js/jquery.overlayScrollbars.min.js')

// AdminLTE App
script(src='/js/adminlte.js')