// Google Font: Source Sans Pro
link(rel='stylesheet' href='/fonts/sans-pro.css')

// Ionicons
link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

// Flaticon
link(rel='stylesheet' href='/fonts/flaticon.css')

// iCheck
link(rel='stylesheet' href='/css/icheck-bootstrap.min.css')

// Theme style
link(rel='stylesheet' href='/css/adminlte.min.css')

// overlayScrollbars
link(rel='stylesheet' href='/css/OverlayScrollbars.min.css')

// Font Awesome
script(src='/js/font-awesome.js')

link(rel='stylesheet' href='/css/style.css')