extends ../base

prepend config
    - var indexPage = true;

append content
    section.content
        .container-fluid
            .row
                .col-lg-3.col-6
                    a(href='stations')
                        .small-box.bg-success
                            .inner
                                h3= stations.filter(station => station.isActive).length
                                p Aktywnych stacji pomiarowych
                            .icon
                                i.flaticon-drone
                .col-lg-3.col-6
                    a(href='stations')
                        .small-box.bg-olive
                            .inner
                                h3= stations.filter(station => station.isRegistered).length
                                p Zarejestrowanych stacji pomiarowych
                            .icon
                                i.flaticon-drone
                .col-lg-3.col-6
                    a(href='measurements')
                        .small-box.bg-info
                            .inner
                                h3= measurements.length
                                p Pomiarów
                            .icon
                                i.flaticon-data
                .col-lg-3.col-6
                    a(href='users')
                        .small-box.bg-warning
                            .inner
                                h3= users.filter(user => user.isVerified).length
                                p Zweryfikowanych użytkowników
                            .icon
                                i.flaticon-user