.row
    .col-md-12
        .card
            .card-header.border-0
                h3.card-title
                    i.fas.fa-edit.mr-1
                    | Lista stacji pomiarowych
            .card-body
                #table-wrapper
                    table.table.table-bordered.table-hover.table-head-fixed.text-center.text-nowrap