extends ../../base

append head-files
    link(rel='stylesheet' href='/css/flatpickr.min.css')

prepend config
  - var stationsPage = true;

append content
    section.content
        .container-fluid
            .row