extends ../../base

append head-files
    include includes/css

prepend config
  - var stationsPage = true;

append content
    a.btn.btn-primary.ml-3.mb-4(href='/stations/new') Dodaj nową
    section.content
        .container-fluid
            include includes/table


append body-files
    include includes/table-js